/*
fml-color-scheme

blue:       #086EA0
light blue: #AAD2F0
pale blue:  #DCECF8
green:      #78C864
orange:     #F6BA00
gray:       #808080
light gray: #D9D9D9
pale gray:  #E6E6E6
white
black
*/

/*================================
    general styles
================================*/

body {
  background: #DCECF8;
  font-family: sans-serif;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  text-align:center;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.container {
  display: inline-block;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.form {
  position: relative;
  z-index: 1;
  background: white;
  margin: 0 auto 0;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}
.form .thumbnail {
  width: 150px;
  height: 260px;
  margin: 0 auto 20px;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form_input {
  outline: 0;
  background: #AAD2F0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
}
.form_button {
  outline: 0;
  background: #086EA0;
  width: 100%;
  border: 0;
  padding: 15px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.boundary {
    clear:both;
    background:#AAD2F0;
    border: 0;
    border-radius: 10px;
    margin-bottom: 8px;
    z-index: 30;
    position: relative; /*needed for z-index*/
}
ul.hiddenbulletpoints {
  padding: 8px 8px 0px 0px;
  margin: 0px;
  list-style-type: none;
  text-align: left;
  position: relative;
  z-index: 10;
}
ul.hiddenbulletpoints li {
  display:inline-block;
  margin: 0px 0px 8px 8px;
  vertical-align: middle;
}
.hidden {
  display: none !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
:checked + label {
    background: #FFDDAF !important;
}
:checked + label strong {
    background: #F6BA00 !important;
}
label.checkmark::before { /* the checkmark, hidden */
  font-weight:bold;
  font-size: 14pt;
  background-color: #78C864;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #808080;
  position: absolute;
  top: -20px;
  left: -14px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.4s;
  transform: scale(0);
}
:checked + label.highlight { /* the checkmark, visible */
  background: #F6BA00 !important;
}
.highlighted strong {
  background: #F6BA00 !important;
}
:checked + label.checkmark:before { /* the checkmark, visible */
  content: "✓";
  background-color: #78C864;
  color: white;
  transform: scale(1);
}
.suggestion::before {
  content: " ";
  background-image: url("/resources/images/bulb_white.png");
  background-size: 20px 28px;
  background-position: 5px 1px;
  background-repeat: no-repeat;
  background-color: #78C864;
  display: block;
  border-radius: 50%;
  border: 1px solid #808080;
  position: absolute;
  top: -20px;
  left: -14px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  z-index: 20;
}
.navigation{
  margin: 20px auto 0px auto !important;
  width: 400px;
}
.table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px 10px;
  table-layout: fixed;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell !important;
  vertical-align: middle;
}
.info {
    color: #086EA0;
    font-size: 12pt;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #086EA0;
    padding: 10px;
    margin-bottom: 20px;
}

/*================================
    login form
================================*/

#login-form
{
  max-width: 300px;
}

/*================================
    survey form
================================*/

#survey-form {
  width: 98%;
  overflow: hidden;
}
#survey-form .label {
  border: 2px inset #AAD2F0;
  border-radius: 6px;
  padding: 6px;
  display: block;
  position: relative;
  cursor: pointer;
  height: 90px;
  width: 114px;
  text-align:center;
  line-height: 18px;
  float:left;
  background: #DCECF8;
}
#survey-form .head {
  width: 100px !important;
  cursor: default !important;
  margin-left: 0px !important;
  background: none !important;
  font-weight:bold;
  text-align: left;
}
#survey-form ul.flat .label{
  height:34px !important;
}
#survey-form .form_button { /*specialized .form_button*/
    margin: 20px auto;
    width: 80px;
}
#survey-form .more, #survey-form .more_off, #survey-form .less, #survey-form .less_off {
    cursor: pointer;
    background-image: url("/resources/images/more3.png");
    background-size: 23px 52px;
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 52px;
    margin-left: 8px;
    vertical-align: middle;
}
#survey-form .more_off {
    background-image: url("/resources/images/more_off3.png") !important;
}
#survey-form .less {
    background-image: url("/resources/images/less3.png") !important;
    background-position: right;
}
#survey-form .less_off {
    background-image: url("/resources/images/less_off3.png") !important;
    background-position-x: right;
}
#survey-form .less.minus:before {
    margin-left: 10px;
    content: "-";
    position: relative;
    top: 10px;
    font-weight:bold;
    font-size: 12pt;
    line-height: 30px;
}
#survey-form .less.plus:before {
    margin-left: 8px;
    content: "+";
    position: relative;
    top: 10px;
    font-weight:bold;
    font-size: 12pt;
    line-height: 30px;
}
#survey-form .more.minus:before {
    margin-left: 6px;
    content: "-";
    position: relative;
    top: 10px;
    font-weight:bold;
    font-size: 12pt;
    line-height: 30px;
}
#survey-form .more.plus:before {
    margin-left: 4px;
    content: "+";
    position: relative;
    top: 10px;
    font-weight:bold;
    font-size: 12pt;
    line-height: 30px;
}
#survey-form .info
{
    width: 250px;
}
#indicators {
    display: block;
}
.accordion-button {
	float:right;
	display:block;
	height:18px;
	width:17px;
	text-indent:-9999px;
}
.closed {
    background:url("/resources/images/button.png") left no-repeat;
}
.open {
    background:url("/resources/images/button.png") right no-repeat;
}
#survey-form #next {
    width: 400px;
    display: block;
}

/*================================
    stages selection form
================================*/

#stages-schematic .selected strong {
    background: #F6BA00 !important;
}
#stages {
    min-height: 400px;
}
#stages .label {
  border: 2px inset #AAD2F0;
  border-radius: 6px;
  display: block;
  position: relative;
  cursor: pointer;
  height: 120px;
  width: 114px;
  text-align:center;
  line-height: 18px;
  float:left;
  background: #DCECF8;
}
#stages strong {
  display:block;
  background: #AAD2F0;
  padding: 6px;
}
#stages span {
  display: block;
  margin: 6px;
}
#stages #arrow-tail {
  background-image: url("/resources/images/arrow-tail.png");
  background-size: 60px 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: -64px;
  width: 60px;
  height: 100%;
  z-index: 1;
  float:left;
}
#stages #arrow-head {
  background-image: url("/resources/images/arrow-head.png");
  background-size: 60px 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: -70px;
  width: 60px;
  height: 100%;
  z-index: 1;
  float:right;
}
#stages .arrow-cutout {
  border-radius: 6px 0px 0px 6px;
  position: absolute;
  top: -5px;
  right: -12px;
  background-color: white;
  display:block;
  width: 10px;
  height: 99%;
  z-index: 1;
  float:left;
}
#stages #arrow-head .arrow-cutout {
  border-radius: 0px 6px 6px 0px !important;
  top: -5px !important;
  left: -12px !important;
}
#selected-stages
{
    height:670px;
    overflow:auto;
    display:inline-block;
    width:100%;
    background-image: url("/resources/images/StartupLog_logo_background.png");
    background-position-y: 200px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 240px;
}
#selected-stages .table
{
    z-index: 1;
    width: 100%;
    left: 0px;
    right: 0px;
    position: absolute;
}
#selected-stages .label {
    background: white !important;
    cursor: default !important;
    vertical-align:top !important;
    float:none !important;
}
#selected-stages strong {
    background: #808080 !important;
    color:white;
}
#selected-stages .characteristics {
    margin: 0px;
    padding: 0px;
}
#selected-stages .characteristics > ul {
    margin: 0px;
    width: 450px;
    text-align: left;
    padding: 6px 6px 6px 24px;
}
#selected-stages .navigation {
    width: 80px;
}
#selected-stages .table > div {
    display: none;
}
.table-row {
    background:#D9D9D9;
    border: 0;
    border-radius: 6px;
    margin-bottom: 8px;
}